body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
table, th {
    border: 1px solid black;
    text-align: center;
    font-size: 38px;
}
th {
    padding: 30px;
}

#cell1 {
    background: orange;
}

#cell2 {
    background: #0099ff;
}